<template name="post">
    <article class="blog text-center">
        <!--<figure>-->
        <!--<iframe src="http://www.youtube.com/embed/4Kuob7Rw5Xw?autoplay=0&autohide=1&controls=1">-->
        <!--</iframe>-->
        <!--</figure>-->
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="{{src}}"></iframe>
        </div>
        <header>
            <h3><a href="/post/{{_id}}" class="pageSubitle">{{title}}</a></h3>
            <div class="info pageSubtitle">
                <span><i class="fa fa-user"></i>{{author}}</span>
                <span><i class="fa fa-calendar"></i>{{createdAtFormatted}}</span>
                <span><i class="fa fa-archive"></i>{{tag}}</span>
                <span><i class="fa fa-comments"></i>{{commentsCount}} comentarios</span>
                {{#if currentUser}}
                <a href="#" class="like"><span><i class="fa fa-thumbs-up"></i>{{numlikes}}</span></a>{{likesthis}}
                {{else}}
                <span><i class="fa fa-thumbs-up"></i>{{numlikes}}</span>
                {{/if}}
            </div>
        </header>
        <p>{{description}} <a href="/post/{{_id}}" class="pageSubitle primary-color">Seguir leyendo...</a></p>
        {{#if isInRole 'admin'}}
        <div class="addPostButton">
            <a href="/post/edit/{{_id}}" class="btn btn-primary">Editar Post</a>
        </div>
        {{/if}}
        <span class="line"></span>
    </article>
</template>