<template name="postsColumn">
    <div class="col-md-12">
        {{#if isInRole 'admin'}}
        <div class="addPostButton text-center">
            <a href="/posts/add" class="btn btn-primary">Añadir Post</a>
        </div>
        {{/if}}

        {{#each posts}}
            {{> post}}
        {{/each}}
        <ul class="pager">
            <li class="loadMore"><a href="#">Cargar más</a></li>
        </ul>
    </div>
</template>