<template name="sidebar">
    <div class="col-md-4 col-sm-4">
        <aside class="blogSidebar">
            <header>
                <h2 class="pageSubtitle">Posts Relacionados</h2>
            </header>
            <ul class="relatedPosts">
                <li>
                    <figure class="img_prev"><img src="" alt=""></figure>
                    <div class="pageSubtitle text-center">
                        <h3>Related Post 1</h3>
                    </div>
                </li>
                <li>
                    <figure class="img_prev"><img src="" alt=""></figure>
                    <div class="pageSubtitle text-center">
                        <h3>Related Post 2</h3>
                    </div>
                </li>
                <li>
                    <figure class="img_prev"><img src="" alt=""></figure>
                    <div class="pageSubtitle text-center">
                        <h3>Related Post 3</h3>
                    </div>
                </li>
            </ul>
        </aside>
    </div>
</template>