<template name="navigation">
    <div class="navigationWrapper">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12 col-md-2">
                    <img class="img-responsive" src="/assets/tds/img/brand.jpg">
                </div>
                <div class="col-sm-12 col-md-10">
                    <nav class="navigation">
                        <div class="login">
                            {{#if currentUser}}
                            <div>
                                <p class="pageSubTitle">Estás conectado como {{currentUser.username}}</p>
                                {{> atNavButton}}
                            </div>
                            {{else}}
                            {{> atNavButton}}
                            {{/if}}
                        </div>
                        <ul class="clearfix navigationOptions">
                            {{#if isActivePath '/'}}
                            <li class="active"><a href="/">Home</a></li>
                            {{else}}
                            <li><a href="/">Home</a></li>
                            {{/if}}

                            {{#if isActivePath '/blog'}}
                            <li class="active"><a href="/blog">Blog</a></li>
                            {{else}}
                            <li><a href="/blog">Blog</a></li>
                            {{/if}}

                            {{#if isActivePath '/contacto'}}
                            <li class="active"><a href="/contacto">Contacto</a></li>
                            {{else}}
                            <li><a href="/contacto">Contacto</a></li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>