<template name="verifyEmail">
    <div class="notFound jumbotron">
        <h2>Se le ha enviado un correo electrónico.</h2>
        <p>Si la dirección de correo electrónico no aparece en la bandeja de entrada, asegúrese de revisar la carpeta de correo no deseado.</p>
    </div>
</template>