<template name="commentItem">
    <li>
        <h4>
            <span class="author">{{author}}</span>
            <span class="date">el {{submittedText}}</span>
        </h4>
        <p>{{body}}</p>
    </li>
</template>