<template name="postPage">
    <div class="container postPage text-center">
        {{> postPageId}}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="comments">
                        {{#each comments}}
                        {{> commentItem}}
                        {{/each}}
                    </ul>
                    {{#if currentUser}}
                    {{> commentSubmit}}
                    {{else}}
                    <p>Por favor conectate para comentar.</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>