<template name="postPageId">
    <div class="postPageId embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="{{src}}"></iframe>
    </div>
    <header>
        <h3><a href="/post/{{_id}}" class="pageSubitle">{{title}}</a></h3>
        <p>{{body}}</p>
        <div class="pageSubtitle">
            <span><i class="fa fa-user"></i>{{author}}</span>
            <span><i class="fa fa-calendar"></i>{{createdAtFormatted}}</span>
            <span><i class="fa fa-archive"></i>{{tag}}</span>
        </div>
        {{#if isInRole 'admin'}}
        <div class="postPageButtons container">
            <div class="postPageEditButton">
                <a href="/post/edit/{{_id}}" class="btn btn-primary">Editar Post</a>
            </div>

            <div class="postPageDeleteButton">
                {{#quickRemoveButton collection="Posts" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}
                    Eliminar
                {{/quickRemoveButton}}
            </div>
        </div>
        {{/if}}
    </header>
</template>