<template name="header">
    <header class="header">
        <div class="container-fluid">
            {{#if isActivePath '/'}}
            <div class="col-md-9 text-center">
                <h2 class="pageTitle">TDS Proyectos</h2>
                <h5 class="pageSubtitle">Esta empresa está basada en proyectos de nuevas tecnologías, domótica y seguridad, ayudando a solucionar problemas de empresa o a nivel usuario, pudiendo tener un gran control sobre todo equipo eléctrico de su empresa o de su domicilio, consiguiendo así un gran ahorro energético, control sobre todo o seguridad en cualquier lugar, además con nuestro s nuevos proyectos conseguimos dar un gran abanico de posibilidades por ejemplo, a  personas con baja movilidad, ayudando a facilitarnos la vida o, por qué no, creando un ambiente en el hogar mucho más acogedor. Estamos siempre en constante cambio creando nuevos proyectos con una tecnología novedosa, todo a un costo muy bajo. No lo dudes, llámanos y dinos que necesitas.</h5>
            </div>
            <div class="col-md-3 text-center headerVideo">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/6gfk6rw6eAE?autoplay=1&autohide=1&controls=0"></iframe>
                </div>
            </div>
            {{/if}}

            {{#if isActivePath '/blog'}}
            <div class="col-md-12 text-center">
                <h2 class="pageTitle">Blog</h2>
            </div>
            {{/if}}

            {{#if isActivePath '/contacto'}}
            <div class="col-md-12 text-center">
                <h2 class="pageTitle">Contacto</h2>
                <h5 class="pageSubtitle">Para contactar con nosotros puedes hacerlo de la siguiente forma:</h5>
            </div>
            {{/if}}
        </div>
    </header>
</template>