<template name="contact">
    <div class="contactPage">
        <section class="container clearfix">
            <article>
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 contactPageBody">
                    <h5><i class="fa fa-envelope"></i>E-mail:</h5>

                    <p>Antoniorivero@hotmail.es</p>
                    <h5><i class="fa fa-phone"></i>Teléfono móvil:</h5>

                    <p>699436062</p>
                    <h5><i class="fa fa-whatsapp"></i>Whatsapp:</h5>

                    <p>699436062</p>
                    <h5><i class="fa fa-facebook-official"></i>Facebook:</h5>

                    <p><a href="https://www.facebook.com/proyectostecnologicosantoniorivero">Proyectos tecnológicos
                        Antonio Rivero</a></p>
                </div>
            </article>
        </section>
    </div>
</template>