<template name="addPostForm">
    {{#if isInRole 'admin'}}
    <div class="container">
        <div class="col-md-offset-2 col-md-8">
            {{> quickForm collection="Posts" buttonContent="Añadir" id="insertPostForm" type="insert"}}
        </div>
    </div>
    {{else}}
        {{> accessDenied}}
    {{/if}}
</template>