<template name="contactUsForm">
  <div class="container clearfix">
    <div class="col-md-offset-2 col-md-8">
      {{#if currentUser}}
        {{> quickForm schema=contactFormSchema buttonContent="Enviar" id="contactForm" type="method" meteormethod="sendEmail"}}
      {{else}}
        {{> pleaseLogin}}
      {{/if}}
    </div>
  </div>
</template>