<template name="updatePostForm">
        {{#if isInRole 'admin'}}
        <div class="col-md-offset-2 col-md-8">
            {{> quickForm collection="Posts" buttonContent="Aceptar" id="updatePostForm" doc=this setArrayItems="true" type="update"}}
            {{#quickRemoveButton collection="Posts" _id=this._id beforeRemove=beforeRemove class="btn btn-danger"}}
                Eliminar
            {{/quickRemoveButton}}
            <hr>
        </div>
        {{else}}
            {{> accessDenied}}
        {{/if}}
</template>