<!--<template name="bxSlider">-->
    <!--<div class="col-md-3 slider" >-->
        <!--<ul class="bxslider">-->
            <!--<li><img class="img-responsive" src="/assets/tds/img/15.jpg" /></li>-->
            <!--<li><img class="img-responsive" src="/assets/tds/img/16.jpg" /></li>-->
            <!--<li><img class="img-responsive" src="/assets/tds/img/17.jpg" /></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</template>-->