<!--TODO: Add routes to href-->
<template name="contactInfo">
    <section class="contactInfo">
        <div class="container">
            <div class="left">
                <span class="dotted">¿Necesitas algo?</span> ¡Ponte en contacto con nosotros!.
            </div>
            <div class="right">
                <a href="/contact-us" class="btn btn-primary">Contacto</a>
            </div>
        </div>
    </section>
</template>