<template name="lastPosts">
    <section class="lastPosts">
        <div class="col-xs-12 lastPostsHeader">
            <h2 class="pageTitle">Mis Últimos Posts</h2>
            <h5 class="pageSubtitle">¡Novedades, proyectos, imágenes y mucho más!</h5>
        </div>
        <div class="container-fluid">
            {{#each posts}}
                {{> lastPost}}
            {{/each}}
        </div>
    </section>
</template>