<template name="lastPost">
    <div class="col-md-3">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="{{src}}"></iframe>
        </div>
        <div class="lastPostWrapper">
            <a href="/post/{{_id}}"><h4 class="pageSubtitle">{{title}}</h4></a>
            <span><i class="fa fa-user"></i>{{author}}</span>
            <span><i class="fa fa-calendar"></i>{{createdAtFormatted}}</span>
            <span><i class="fa fa-archive"></i>{{tag}}</span>
        </div>
    </div>
</template>