<!--TODO: Add routes to href-->
<template name="services">
    <section class="services">
        <div class="col-xs-12 col-md-12">
            <h2 class="pageTitle">Servicios</h2>
            <h5 class="pageSubtitle">¿Qué ofrece esta web?</h5>
        </div>
        <div class="container">
            <article class="col-xs-12 col-md-4 item">
                <div class="icon">
                    <a href="/blog"><span class="fa fa-book fa-4x"></span></a>
                </div>
                <header>
                    <h4><a href="/blog">Blog</a></h4>
                    <p>¡Amplia información sobre nuestros proyectos y productos!</p>
                </header>
            </article>
            <article class="col-xs-12 col-md-4 item">
                <div class="icon">
                    <a href="/blog"><span class="fa fa-laptop fa-4x"></span></a>
                </div>
                <header>
                    <h4><a href="/blog">Diseño web</a></h4>
                    <p>¡Si te gusta este diseño puedes consultar con nuestro desarrollar y obtener el tuyo propio!</p>
                </header>
            </article>
            <article class="col-xs-12 col-md-4 item">
                <div class="icon">
                    <a href="/contacto"><span class="fa fa-envelope fa-4x"></span></a>
                </div>
                <header>
                    <h4><a href="/contacto">Contacto</a></h4>
                    <p>¡Y por último nos permite contactar con nuestro técnico favorito!</p>
                </header>
            </article>
        </div>
    </section>
</template>